
@font-face {  
	  font-family: "November";  
	  src: url( fonts/novem___.eot ); /* IE */  
	  src: local("November"), url( fonts/novem___.ttf ) format("truetype"); /* non-IE */  
	}  

@font-face {  
	  font-family: "Commodore64";  
	  src: url( fonts/cbm-6480-webfont.eot ); /* IE */  
	  src: local("Commodore64"), url( fonts/CBM-6480.TTF ) format("truetype"); /* non-IE */  
	}  
	
div.topbar { text-align:center; 
	           color:white;
	           vertical-align:top;
	           font-weight:bold;
	           font-family:"Commodore64";
	           font-size:16pt; 
	           line-height:24px;
}
	           
div.topbar p { margin-top:-4px }


div.charstats table { color:white;
                font-family:"Commodore64";
   	            font-size:16pt;
   	            margin-top:-8px;
   	            line-height:20px;
}

div.mainframe table {margin-top:-18px; }

div.outerstats { 
                 margin-top: -18px;
                  }

div.zstats { width:100%;
             height: 410px;
             overflow:auto;
           }
           
div.zstats table { color:white;
                font-family:"Commodore64";
   	            font-size:16pt;
   	            line-height:20px;
                margin-top:0px;
}

div.maintextframe { font-family:"Commodore64";
	                  font-size:16pt;
	                  color: white; 
	                  margin-top:-4px;
	                  line-height:20px;
	                  position: relative;
	                  overflow:hidden;
	                  height:336px;
}

div.innertextframe { font-family:"Commodore64";
	                  font-size:16pt;
	                  color: white; 
	                  margin-top:-4px;
	                  line-height:20px;
	                  position: absolute;
	                  bottom:0;
	                  margin-bottom:2px;
}
	                  
div.inputtext { font-family:"Commodore64";
	              font-size:16pt;
	              color:white; 
	              line-height:20px;
	              position: absolute;
	              bottom: 0;
}

.jspTrack { background: none repeat scroll 0 0 #000000 } 

.jspDrag { background: none repeat scroll 0 0 #000000 } 

  div.bubble { display: none; 
  	           left:40; 
  	           top:40; 
  	           color: #ffffff; 
  	           background-color: #000000; 
  	           border: 3px solid #aaa;
  	           position: absolute;  }

.highlight { background-color: #ffffff; color: #000000 }
.highlighteq { background-color: #ffffff; color: #c00 }

tr.invheader td { padding-bottom: 4px; }

td.selected { color:#3ff }

td.circleheader { font-weight:bold; }

td.spellstat { padding-left: 15px; }

div.spellbook { display: none; 
	           left:50; 
  	           top:50; 
  	           color: #000000; 
  	           background-color: #D7DF01; 
  	           border: 1px solid #c93;
  	           position: absolute;  }
  	           