
@font-face {  
	  font-family: "Kells";  
	  src: local("Kells"), url( 'fonts/KellsFLF.ttf' ) format("truetype");
	}  

@font-face {  
	  font-family: "Commodore64";  
	  src: url( fonts/cbm-6480-webfont.eot ); /* IE */  
	  src: local("Commodore64"), url( 'fonts/CBM-6480.TTF' ) format("truetype"); /* non-IE */  
	}  
	
@font-face {  
	  font-family: "Spells";  
	  src: local("Spells"), url( 'fonts/UnZialish.ttf' ) format("truetype");
	}  

body { background-color: black; }
	
div.topbar { text-align:center; 
	           color:white;
	           vertical-align:top;
	           font-weight:bold;
	           font-family:"Commodore64";
	           font-size:16pt; 
	           line-height:24px;
}
	           
div.topbar p { margin-top:-4px }


div.charstats table { color:white;
                font-family:"Commodore64";
   	            font-size:16pt;
   	            margin-top:-8px;
   	            line-height:20px;
}

div.mainframe table {margin-top:-18px; }

div.outerstats { 
                 margin-top: -18px;
                  }

div.zstats { width:100%;
             height: 410px;
             overflow:auto;
           }
           
div.zstats table { color:white;
                font-family:"Commodore64";
   	            font-size:16pt;
   	            line-height:20px;
                margin-top:0px;
}

div.maintextframe { font-family:"Commodore64";
	                  font-size:16pt;
	                  color: white; 
	                  margin-top:-4px;
	                  line-height:20px;
	                  position: relative;
	                  overflow:hidden;
	                  height:336px;
}

div.innertextframe { font-family:"Commodore64";
	                  font-size:16pt;
	                  color: white; 
	                  margin-top:-4px;
	                  line-height:20px;
	                  position: absolute;
	                  bottom:0;
	                  margin-bottom:2px;
}
	                  
div.inputtext { font-family:"Commodore64";
	              font-size:16pt;
	              color:white; 
	              line-height:20px;
	              position: absolute;
	              bottom: 1;
}

.jspTrack { background: none repeat scroll 0 0 #000000 } 

.jspDrag { background: none repeat scroll 0 0 #000000 } 

  div.bubble { display: none; 
  	           left:40; 
  	           top:40; 
  	           color: #ffffff; 
  	           background-color: silver; 
  	           border: 3px solid #aaa;
  	           position: absolute;  }

.highlight { background-color: #ffffff; color: #000000 }
.highlighteq { background-color: #ffffff; color: #c00 }

tr.invheader td { padding-bottom: 4px; }

tr.runecooldown td { color: #888888; }

td.selected { color:#3ff }

td.circleheader { font-weight:bold; }

td.spellstat { padding-left: 15px; }

div.spellbook { display: none;
	           left:150; 
  	           top:100; 
  	           width:440px;
  	           height: 236px;
  	           color: #000000; 
  	           background-image: url('graphics/spellbook_sized.gif');
  	           background-repeat: no-repeat;
  	           background-color: #000000; 
  	           background-size: 440px 236px;
  	           border: 1px solid #ffffff;
  	           position: absolute; 
               font-family:"Spells";
               font-size:10pt;
               line-height:16px; }
  	           
table.spells { padding-top: 8;
               padding-left: 24; }

table.spells td { font-size: 12pt;
                  line-height: 16pt }

table.spells td.spelllevel { width : 160;
                text-align: center;
                font-size: 14pt;
                font-weight: bold;
                 }

span.selected { color: red; }


p.charcreate { color:white;
                font-family:"Commodore64";
   	            font-size:16pt;
   	            margin-top:-8px;
   	            line-height:20px;
}

span.leveled { color: red; }

span.sysconv { color: yellow; }