	div.lefthalf  { position: absolute;
		              right: 155px;
		              left: 0px;
		            }
		            
  div.righthalf { position: absolute;
  	              top: 0px;
  	              right: 0px;
  	              width : 155px;
  	            }
  
  div.tiles     { overflow: auto;
  	              border-width : 1px;
  	              border-style : solid;
  	            }
  div.brush     { height : 70px;
  	              border-width : 1px;
  	              border-style : solid;
  	            }
  div.selection { border-width : 1px;
  	              border-style : solid;
  	            }
  div.mapscreen { overflow: auto;
  	              border-width : 1px;
  	              border-style : solid;
									position:relative;
  	            }
  div.mainmenu  { 
  	            }
  div.bubble { display: none; 
  	           left:50; 
  	           top:50; 
  	           color: #aaaaff; 
  	           background-color: #D7DF01; 
  	           border: 1px solid #c93;
  	           position: absolute;  }

  div.ibubble { display: none; 
  	           left:50; 
  	           top:50; 
  	           color: #aaaaff; 
  	           background-color: silver; 
  	           border: 1px solid white;
  	           position: absolute;  }

 td { font-size:small; }

 div.labelsLayer { opacity: .7;
                  background-color: lightgrey; 
									z-index:3;
									font-weight:bold; }
